<footer class="text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h5>نظام إدارة الفعاليات والنوادي</h5>
        <p class="text-white-50">منصة شاملة لإدارة الفعاليات والنوادي الجامعية</p>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <h6>روابط سريعة</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/events" class="text-white-50">الأحداث</a></li>
          <li><a routerLink="/clubs" class="text-white-50">النوادي</a></li>
          <li><a routerLink="/login" class="text-white-50">تسجيل الدخول</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6>تواصل معنا</h6>
        <p class="text-white-50">
          <i class="bi bi-envelope me-2"></i>
          info&#64;university.edu
        </p>
        <p class="text-white-50">
          <i class="bi bi-phone me-2"></i>
          +966 50 123 4567
        </p>
      </div>
    </div>
    <hr class="my-4">
    <div class="row align-items-center copyright">
      <div class="col-md-6">
        <p class="mb-0 text-white-50">&copy; 2024 نظام إدارة الفعاليات والنوادي. جميع الحقوق محفوظة.</p>
      </div>
      <div class="col-md-6 text-md-end social-icons">
        <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-white"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
        <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>